.sideMenu .headerMenu {
    margin-bottom: 5px;
}

.sideMenu .menuContent .menuItem {
    margin-bottom: 8px;
    transition: 0.3s;
}

.sideMenu .menuContent .menuItem:hover {
    color: var(--lightBlue);
}

.sideMenu .subMenu {
    display: none;
}

.sideMenu .subMenu.show {
    display: block;
    border: 1px solid var(--lightGray);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    width: fit-content;
    background-color: var(--white);
}